@theme inline {
    --color-canvas-segment-active: var(--canvas-segment-active);
    --color-canvas-segment-hover: var(--canvas-segment-hover);
    --color-canvas-editor-stroke: var(--canvas-editor-stroke);
    --color-canvas-control-active: var(--canvas-control-active);
    --color-canvas-control-hover: var(--canvas-control-hover);
    --color-canvas-handle-active: var(--canvas-handle-active);
    --color-canvas-handle-hover: var(--canvas-handle-hover);
    --color-canvas-handle-idle: var(--canvas-handle-idle);
    --color-canvas-control-point-idle: var(--canvas-control-point-idle);
    --color-canvas-target-point-idle: var(--canvas-target-point-idle);
    --color-canvas-target-point-stroke: var(--canvas-target-point-stroke);
}

:root {
    --canvas-segment-active: oklch(0.676 0.181 247.723);
    --canvas-segment-hover: oklch(0.663 0.224 25.803);
    
    --canvas-editor-stroke: oklch(0.541 0.247 293.009 / 0.239);
    --canvas-control-active: oklch(0.541 0.247 293.009 / 0.220);
    --canvas-control-hover: oklch(0.666 0.157 58.318 / 0.239);
    --canvas-handle-active: oklch(0.541 0.247 293.009);
    --canvas-handle-hover: oklch(0.666 0.157 58.318);
    --canvas-handle-idle: oklch(0.554 0.041 257.417 / 0.678);
    --canvas-control-point-idle: oklch(0.554 0.041 257.417);
    --canvas-target-point-idle: oklch(0.372 0.039 257.287);
    --canvas-target-point-stroke: oklch(0.208 0.040 265.755 / 0.161);
}

.dark {
    --canvas-segment-active: oklch(0.676 0.181 247.723);
    --canvas-segment-hover: oklch(0.663 0.224 25.803);
    
    --canvas-editor-stroke: oklch(0.563 0.296 302.835 / 0.388);
    --canvas-control-active: oklch(0.563 0.296 302.835 / 0.627);
    --canvas-control-hover: oklch(0.809 0.153 69.632);
    --canvas-handle-active: oklch(0.563 0.296 302.835 / 0.627);
    --canvas-handle-hover: oklch(0.809 0.153 69.632);
    --canvas-handle-idle: oklch(1 0 0 / 0.329);
    --canvas-control-point-idle: oklch(1 0 0);
    --canvas-target-point-idle: oklch(1 0 0);
    --canvas-target-point-stroke: oklch(1 0 0 / 0.220);
}